#=====General=====
.DS_Store
Thumbs.db
*.log
*.tmp
.env
.venv
dist/
build/

#=====Java====
backend-java/.metadata/
backend-java/bin/
backend-java/tmp/
backend-java/*.jar
backend-java/*.war
backend-java/*.ear
backend-java/target/
backend-java/.settings/
backend-java/.project
backend-java/.classpath
backend-java/.factorypath
backend-java/.recommenders/

#====Python====
ml-service/__pycache__/
ml-service/*.py[cod]
ml-service/*$py.class
ml-service/.pytest.cache/
ml-service/env/
ml-service/venv/
ml-service/.venv/
ml-service/pip-log.txt
ml-service/pip-delete-this-directory.txt

#===Frontend====
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/dist/
frontend/build/
frontend/.eslintchache
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yern-error.log*
frontend/.vercel


#=====IDE====
.metadata
.project
.classpath
.settings/
.factorypath

.idea/
*.iml
*.iws

.vscode

.docker-proxy
